<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.dms.mapper.servplat.SpBaseSectMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.dms.model.servplat.SpBaseSect">
    <id column="SECT_ID" jdbcType="BIGINT" property="sectId" />
    <result column="SECT_STATUS" jdbcType="CHAR" property="sectStatus" />
    <result column="SECT_TYPE" jdbcType="CHAR" property="sectType" />
    <result column="PRO_TYPE" jdbcType="CHAR" property="proType" />
    <result column="SECT_NAME_FRST" jdbcType="VARCHAR" property="sectNameFrst" />
    <result column="SECT_ADDR_FRST" jdbcType="VARCHAR" property="sectAddrFrst" />
    <result column="SECT_ROAD_FRST" jdbcType="VARCHAR" property="sectRoadFrst" />
    <result column="SECT_STREET_FRST" jdbcType="VARCHAR" property="sectStreetFrst" />
    <result column="SECT_SUB_STREET_FRST" jdbcType="VARCHAR" property="sectSubStreetFrst" />
    <result column="SECT_NO_FRST" jdbcType="VARCHAR" property="sectNoFrst" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="PROVINCE_ID" jdbcType="BIGINT" property="provinceId" />
    <result column="CITY_ID" jdbcType="BIGINT" property="cityId" />
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId" />
    <result column="LOOP_ID" jdbcType="BIGINT" property="loopId" />
    <result column="BLOCK_ID" jdbcType="BIGINT" property="blockId" />
    <result column="STREET_ID" jdbcType="BIGINT" property="streetId" />
    <result column="COMMI_ID" jdbcType="BIGINT" property="commiId" />
    <result column="ZIP_CODE" jdbcType="VARCHAR" property="zipCode" />
    <result column="SECT_EAST" jdbcType="VARCHAR" property="sectEast" />
    <result column="SECT_SOUTH" jdbcType="VARCHAR" property="sectSouth" />
    <result column="SECT_WEST" jdbcType="VARCHAR" property="sectWest" />
    <result column="SECT_NORTH" jdbcType="VARCHAR" property="sectNorth" />
    <result column="CNST_AREA" jdbcType="VARCHAR" property="cnstArea" />
    <result column="LAND_AREA" jdbcType="VARCHAR" property="landArea" />
    <result column="SHOPS_AREA" jdbcType="VARCHAR" property="shopsArea" />
    <result column="PUBLIC_AREA" jdbcType="VARCHAR" property="publicArea" />
    <result column="WATERS_AREA" jdbcType="VARCHAR" property="watersArea" />
    <result column="GREEN_AREA" jdbcType="VARCHAR" property="greenArea" />
    <result column="TOT_BUILDS" jdbcType="VARCHAR" property="totBuilds" />
    <result column="TOT_UNITS" jdbcType="VARCHAR" property="totUnits" />
    <result column="TOT_HOUS" jdbcType="VARCHAR" property="totHous" />
    <result column="TOT_SHOPS" jdbcType="VARCHAR" property="totShops" />
    <result column="TOT_LIFTS" jdbcType="VARCHAR" property="totLifts" />
    <result column="TOT_ONG_PARKS" jdbcType="VARCHAR" property="totOngParks" />
    <result column="TOT_UNG_PARKS" jdbcType="VARCHAR" property="totUngParks" />
    <result column="TOT_TANKS" jdbcType="VARCHAR" property="totTanks" />
    <result column="TOT_RESERVOIRS" jdbcType="VARCHAR" property="totReservoirs" />
    <result column="TOT_PUMPS" jdbcType="VARCHAR" property="totPumps" />
    <result column="TOT_ELECTROOMS" jdbcType="VARCHAR" property="totElectrooms" />
    <result column="SECT_NAME_SCND" jdbcType="VARCHAR" property="sectNameScnd" />
    <result column="SECT_ADDR_SCND" jdbcType="VARCHAR" property="sectAddrScnd" />
    <result column="SECT_ROAD_SCND" jdbcType="VARCHAR" property="sectRoadScnd" />
    <result column="SECT_STREET_SCND" jdbcType="VARCHAR" property="sectStreetScnd" />
    <result column="SECT_SUB_STREET_SCND" jdbcType="VARCHAR" property="sectSubStreetScnd" />
    <result column="SECT_NO_SCND" jdbcType="VARCHAR" property="sectNoScnd" />
    <result column="OFFICE_ADDR" jdbcType="VARCHAR" property="officeAddr" />
    <result column="OFFICE_TEL" jdbcType="VARCHAR" property="officeTel" />
    <result column="related_sect_id" jdbcType="VARCHAR" property="relatedSectId" />
    <result column="related_sect_no" jdbcType="VARCHAR" property="relatedSectNo" />
    <result column="house_manager" jdbcType="VARCHAR" property="houseManager" />
    <result column="house_manager_person" jdbcType="VARCHAR" property="houseManagerPerson" />
    <result column="sect_tel" jdbcType="VARCHAR" property="sectTel" />
  </resultMap>
</mapper>