<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.dms.mapper.servplat.SpRelateCspSectMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.dms.model.servplat.SpRelateCspSectKey">
    <id column="CSP_ID" jdbcType="BIGINT" property="cspId" />
    <id column="SECT_ID" jdbcType="BIGINT" property="sectId" />
  </resultMap>
</mapper>