<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.sso.mapper.SsoMenuMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.sso.entity.SsoMenu">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="FORWARD_URL" jdbcType="VARCHAR" property="forwardUrl" />
  </resultMap>
</mapper>