<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.sso.mapper.SsoRoleMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.sso.model.SsoRole">
    <id column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
  </resultMap>
  
    
    <!-- 修改角色 -->
  <update  id="updateSsoRole" parameterType="com.eshequ.msa.sso.model.SsoRole" >
    update sso_role set role_name = #{roleName} 
    where role_id = #{roleId}
  </update >
  
  <select id="getRoleByOrgId" parameterType="String" resultMap="BaseResultMap">
  select r.role_id,r.role_name from sso_role r inner join sso_org_role o on o.role_id=r.role_id
  where o.org_id=#{orgId}
  </select>
</mapper>