<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.crm.mapper.SsoUserMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.crm.entity.SsoUser">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="ORG_ID" jdbcType="BIGINT" property="orgId" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_NAME, PASSWORD, STATUS, ORG_ID, ORG_NAME, ROLE_ID
  </sql>



<!--   <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sso_user
    where ID = #{id,jdbcType=BIGINT}
  </select> -->
<!--   验证登录信息是否有效 -->
  <select id="validateLoginUser" parameterType="String" resultType="int">
    select count(1) from sso_user
    where user_name = #{userName}
    and password = #{password}
    and status = 1
  </select>
  
  <!-- 根据用户名查询用户 -->
  <select id="selectUserByUserName" parameterType="String" resultMap="BaseResultMap">
    select * from sso_user
    where user_name = #{userName}
  </select>
  
<!--   <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sso_user
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.eshequ.msa.crm.entity.SsoUser">
    insert into sso_user (ID, USER_NAME, PASSWORD, 
      STATUS, ORG_ID, ORG_NAME, 
      ROLE_ID)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{orgId,jdbcType=BIGINT}, #{orgName,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=BIGINT})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.eshequ.msa.crm.entity.SsoUser">
    update sso_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      ORG_ID = #{orgId,jdbcType=BIGINT},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      ROLE_ID = #{roleId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update> -->
</mapper>