<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.sso.mapper.SsoUserMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.sso.model.SsoUser">
    <id column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="REAL_NAME" jdbcType="VARCHAR" property="realName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="ORG_ID" jdbcType="BIGINT" property="orgId" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="LOGIN_CERT" jdbcType="VARCHAR" property="loginCert" />
    <result column="TP_SYS_NAME" jdbcType="VARCHAR" property="tpSysName" />
     <result column="CREATE_DATE" jdbcType="CHAR" property="createDate" />
      <result column="CREATE_TIME" jdbcType="CHAR" property="createTime" />
      <result column="CITY_ID" jdbcType="BIGINT" property="cityId" />
      <result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
  </resultMap>

<!--   验证登录信息是否有效 -->
  <select id="validateLoginUser" parameterType="String" resultType="int">
    select count(1) from sso_user
    where user_name = #{userName}
    and password = #{password}
    and TP_SYS_NAME = #{tpSysName}
    and status = 1
  </select>
  
  <!-- 根据用户名查询用户 -->
  <select id="selectUserByUserName" parameterType="String" resultMap="BaseResultMap">
    select * from sso_user
    where user_name = #{userName}
    and TP_SYS_NAME = #{tpSysName}
  </select>
  
  <!-- 根据用户名查询用户 -->
  <select id="getUserByUserName" parameterType="String" resultType="int">
    select count(1) from sso_user
    where user_name = #{userName}
  </select>
  
   <!-- 根据用户id重置密码 -->
  <update id="updatePswdByUserId" parameterType="String" >
    update sso_user set password=#{password}
    where user_id = #{userId}
  </update>
  
  <!-- 根据用户id更改状态 -->
  <update id="updateStatusByUserId" parameterType="String" >
    update sso_user set status=#{status}
    where user_id = #{userId}
  </update>
  
   <!-- 根据用户id和密码查询信息-->
   <select id="selectUserByIdAndPswd" parameterType="String" resultType="int">
  select count(1) from sso_user
    where user_id= #{userId} and password=#{password}
   </select>
   
   <select id="getUserList" parameterType="map" resultMap="BaseResultMap">
   select user_id,user_name,real_name,org_id,org_name,status,role_id,role_name,create_date  from sso_user
   <where>
   <if test="startDate != null">
   and create_date >= #{startDate}
   </if>
   <if test="endDate != null">
   and create_date &lt;= #{endDate}
   </if>
   <if test="realName != null">
   and real_name like CONCAT('%', #{realName}, '%')
   </if>
   <if test="status != null">
   and status = #{status}
   </if>
   <if test="orgName != null">
   and org_name like CONCAT('%', #{orgName}, '%')
   </if>
   </where>
   </select>
</mapper>