<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.datacenter.mapper.MsaBaseCustCarFeeStartDateMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.datacenter.model.MsaBaseCustCarFeeStartDate">
    <id column="CAR_ID" jdbcType="BIGINT" property="carId" />
    <result column="FEE_START_DATE" jdbcType="CHAR" property="feeStartDate" />
    <result column="PAYMENT_DATE" jdbcType="CHAR" property="paymentDate" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.eshequ.msa.datacenter.model.MsaBaseCustCarFeeStartDate">
    <id column="CAR_ID" jdbcType="BIGINT" property="carId" />
    <result column="FEE_START_DATE" jdbcType="CHAR" property="feeStartDate" />
    <result column="PAYMENT_DATE" jdbcType="CHAR" property="paymentDate" />
  </resultMap>
</mapper>