<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.bdp.mapper.MsaBaseEnterpriseMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.bdp.model.MsaBaseEnterprise">
    <id column="ENTERPRISE_ID" jdbcType="BIGINT" property="enterpriseId" />
    <result column="CUST_STATE" jdbcType="CHAR" property="enterpriseState" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="CUST_ADDR" jdbcType="VARCHAR" property="enterpriseAddr" />
    <result column="ENTERPRISE_TYPE" jdbcType="CHAR" property="enterpriseType" />
    <result column="CUST_TEL" jdbcType="VARCHAR" property="custTel" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="PROVINCE_ID" jdbcType="BIGINT" property="provinceId" />
    <result column="CITY_ID" jdbcType="BIGINT" property="cityId" />
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId" />
    <result column="ORIGIN_ID" jdbcType="VARCHAR" property="originId" />
    <result column="ORIGIN_SYS" jdbcType="BIGINT" property="originSys" />
  </resultMap>
</mapper>