<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.ops.mapper.msasmsmng.MsaSmsInfoMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.ops.model.msasmsmng.MsaSmsInfo">
    <id column="SMS_ID" jdbcType="BIGINT" property="smsId" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="SEND_DATE" jdbcType="CHAR" property="sendDate" />
    <result column="SEND_TIME" jdbcType="CHAR" property="sendTime" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="SMS_BATCH" jdbcType="BIGINT" property="smsBatch" />
    <result column="SMS_STATUS" jdbcType="CHAR" property="smsStatus" />
    <result column="MAPPING_SMS_ID" jdbcType="VARCHAR" property="mappingSmsId" />
  </resultMap>
</mapper>