<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.msa.bdp.mapper.projectstatusmng.MsaBaseSectMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.msa.bdp.model.projectstatusmng.MsaBaseSect">
    <id column="SECT_ID" jdbcType="BIGINT" property="sectId" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="SECT_TYPE" jdbcType="CHAR" property="sectType" />
    <result column="PRO_TYPE" jdbcType="CHAR" property="proType" />
    <result column="IS_FLAG" jdbcType="CHAR" property="isFlag" />
    <result column="ACTIVITY" jdbcType="CHAR" property="activity" />
    <result column="SECT_NAME" jdbcType="VARCHAR" property="sectName" />
    <result column="SECT_ADDR" jdbcType="VARCHAR" property="sectAddr" />
    <result column="SECT_ROAD" jdbcType="VARCHAR" property="sectRoad" />
    <result column="SECT_STREET" jdbcType="VARCHAR" property="sectStreet" />
    <result column="SECT_SUB_STREET" jdbcType="VARCHAR" property="sectSubStreet" />
    <result column="SECT_NO" jdbcType="VARCHAR" property="sectNo" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="PROVINCE_ID" jdbcType="BIGINT" property="provinceId" />
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId" />
    <result column="CITY_ID" jdbcType="BIGINT" property="cityId" />
    <result column="ZIP_CODE" jdbcType="VARCHAR" property="zipCode" />
    <result column="CNST_AREA" jdbcType="VARCHAR" property="cnstArea" />
    <result column="LAND_AREA" jdbcType="VARCHAR" property="landArea" />
    <result column="SHOPS_AREA" jdbcType="VARCHAR" property="shopsArea" />
    <result column="PUBLIC_AREA" jdbcType="VARCHAR" property="publicArea" />
    <result column="GREEN_AREA" jdbcType="VARCHAR" property="greenArea" />
    <result column="TOT_BUILDS" jdbcType="VARCHAR" property="totBuilds" />
    <result column="TOT_HOUS" jdbcType="VARCHAR" property="totHous" />
    <result column="TOT_SHOPS" jdbcType="VARCHAR" property="totShops" />
    <result column="TOT_ONG_PARKS" jdbcType="VARCHAR" property="totOngParks" />
    <result column="TOT_UNG_PARKS" jdbcType="VARCHAR" property="totUngParks" />
    <result column="OFFICE_ADDR" jdbcType="VARCHAR" property="officeAddr" />
    <result column="OFFICE_TEL" jdbcType="VARCHAR" property="officeTel" />
    <result column="RELATED_SECT_NO" jdbcType="VARCHAR" property="relatedSectNo" />
  </resultMap>
  <resultMap id="SectAndEnterpriseVoMap" type="com.eshequ.msa.bdp.vo.SectAndEnterpriseVo">
    <id column="SECT_ID" jdbcType="BIGINT" property="sectId" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="IS_FLAG" jdbcType="VARCHAR" property="isFlag" />
    <result column="ACTIVITY" jdbcType="VARCHAR" property="activity" />
    <result column="SECT_NAME" jdbcType="VARCHAR" property="sectName" />
    <result column="CNST_AREA" jdbcType="VARCHAR" property="cnstArea" />
    <result column="TOT_HOUS" jdbcType="VARCHAR" property="totHous" />
  </resultMap>
  <select id="getSectAndEnterpriseList" parameterType="com.eshequ.msa.bdp.vo.SectAndEnterpriseVo" resultMap="SectAndEnterpriseVoMap">
  select be.CUST_NAME,s.SECT_ID,s.SECT_NAME,s.IS_FLAG,s.ACTIVITY,s.CNST_AREA,s.TOT_HOUS from msa_base_sect s inner join msa_enterprise_sect e 
on s.SECT_ID=e.SECT_ID INNER JOIN msa_base_enterprise be  on be.ENTERPRISE_ID=e.ENTERPRISE_ID
  </select>
</mapper>